
    body {
        background-image: url("../images/endzone.0.jpg")
        /* background-color: lightblue; */
    }

    /* h1{
        font-size: 40pt;
        font-weight: bold;
        text-align: center;
        }   */

        .container {
            background-color: orangered;
            margin-top: 1.0em;
            margin-bottom: -6em;
        }

        .jumbotron {
            position: relative;
            text-align: center;
            font-weight: bold; 
            padding: 0.6em 0.6em;
            margin: 1.0em 0.0em 1.0em 0.0em;
        }
        
        .jumbotron .bg {
            position: absolute;
            left:0; top:0;
            background-size: cover;
            height: 100%;
            width: 100%;
            opacity: 0.5;
            z-index: -1;
            border-radius: 25px;
        }

           
          .jumbotron h1 {
              font-size: 4em;
            color: #41260d;
            background-color: rgb(230, 77, 30); 
            border-style: double;
            border-width: 5px;
            border-color: rgb(56, 37, 7);
          }

        .wrapper {
            display: none;
        }

        .startGame {
            background-color: rgb(59, 136, 62); 
            border-style: dotted;
            border-width: 5px;
            border-color: rgb(56, 37, 7);
            color: white;
            padding: 30px, 50px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            font-size: 34px;
            margin-left: 37%;
        }

      